<div class="smart-style-4 body-container menu-on-top" id="wrapper">

		<header id="header">
			
			<script type="text/javascript">
			
			
			
			</script>

			
		
			
			<div id="headerdiv" class="pull-right">
				
				
				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>
				
				

				
				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="login.html" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
				</div>
				
				
				

			</div>
			

		</header>
		
		<aside id="left-panel">

			
			<div class="login-info">
				<span> 

				</span>
			</div>
			
			<nav>
				

				<ul>
					
					<li>
						<a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Profile</span></a>
						<ul>
							<li>
								<a href="/ngrest/#/register">Registration</a>
							</li>
							<li>
								<a href="/ngrest/#/seccode">Check Validation Code</a>
								
							</li>
							
						</ul>
					</li>
				
					
				</ul>
			</nav>

			
			
			
			

			<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

		</aside>
		
		
		
		<div id="main" role="main" style="height: 100%">

			
			<div id="ribbon">

				<span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-refresh"></i></span> 
				</span>

				
				<ol class="breadcrumb">
					
				</ol>
				

			</div>
			
			<div id="content">
              <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
				
				<header>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>Registration form </h2>				
					
				</header>

				
				<div>
					
					
					<div class="jarviswidget-editbox">
						
					</div>
					
					<div class="widget-body no-padding">
						
						<form id="order-form" class="smart-form" novalidate="novalidate">
							<header>
							</header>

							<fieldset>
								<div class="row" data-ng-controller="InitCtrl1" data-ng-init="init()">
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-user"></i>
											<input type="text" id="mobile" name="mobile" placeholder="MOBILE">
											
										</label>
									</section>
									
									
									
								</div>

								
								
								
							</fieldset>

							
							<footer>
						     	<button type="submit" class="btn btn-primary" ng-click="redirect()">
									next
								</button>
							
								<button type="submit" class="btn btn-primary" ng-click="secretcode()">
									send
								</button>
							</footer>
						</form>

					</div>
					
					
				</div>
				
				
			</div>
			</div>
			
			

		</div>
		
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Details</h4>
      </div>
      <div class="modal-body">
     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
		<div id="shortcut">
			<ul>
				<li>
					<a href="#ajax/inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
				</li>
				<li>
					<a href="#ajax/calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
				</li>
				<li>
					<a href="#ajax/gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
				</li>
				<li>
					<a href="#ajax/invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
				</li>
				<li>
					<a href="#ajax/gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
				</li>
				<li>
					<a href="#ajax/profile.html" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
				</li>
			</ul>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>
			if (!window.jQuery) {
				document.write('<script src="js/libs/jquery-2.1.1.min.js"><\/script>');
			}
		</script>

		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');
			}
		</script>

		
		<script src="js/app.config.js"></script>

		
		<script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> 

		
		<script src="js/bootstrap/bootstrap.min.js"></script>

		
		<script src="js/notification/SmartNotification.min.js"></script>

		
		<script src="js/smartwidgets/jarvis.widget.min.js"></script>

		
		<script src="js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

		
		<script src="js/plugin/sparkline/jquery.sparkline.min.js"></script>

		
		<script src="js/plugin/jquery-validate/jquery.validate.min.js"></script>

		
		<script src="js/plugin/masked-input/jquery.maskedinput.min.js"></script>

		
		<script src="js/plugin/select2/select2.min.js"></script>

		
		<script src="js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

		
		<script src="js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		
		<script src="js/plugin/fastclick/fastclick.min.js"></script>

		
		<script src="js/demo.min.js"></script>

		
		<script src="js/app.min.js"></script>

		
		<script src="js/speech/voicecommand.min.js"></script>

		
		<script src="js/smart-chat-ui/smart.chat.ui.min.js"></script>
		<script src="js/smart-chat-ui/smart.chat.manager.min.js"></script>

		
		<script type="text/javascript">
		
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>

	</div>

